export DNS_NAME=<DNS_NAME>
export DNS_LISTENERS=443,1026,1027,1028,1031,2222
export S3_BUCKET=<S3_BUCKET_NAME>
export NLB_TG_ARN=<NLB_TG_ARN>
export MAX_LOOKUP_PER_INVOCATION=50
export INVOCATIONS_BEFORE_DEREGISTRATION=3
export CW_METRIC_FLAG_IP_COUNT=true

